<div class="bigSetup">
    <div class="smallSetup">
        <h1 class="position">Ændre spørgsmål</h1>
        <label class="type">Spørgsmål type:</label>
        <label class="description">Beskrivelse:</label>
        <label class="picture">Billede:</label>
        <label class="hint">Hint:</label>
        <div style="grid-column: 2/3; grid-row: 2/3;">
            <button class="icon" id="questionT1" style="background-color:lawngreen" (click)="questionTypeText()"><span class="glyphicon glyphicon-text-background"></span></button>
            <button class="icon" id="questionT2" (click)="questionTypePicture()"><span class="glyphicon glyphicon-picture"></span></button>
        </div>
        <input class="description" type="text" id="description" />
        <input class="picture" type="file" id="picture" />
        <input class="hint" type="text" id="hint" />
        <button class="cancel" (click)="cancelChange()">Fortryd</button>
        <button class="accept" (click)="acceptChange()">Foretag ændring</button>
    </div>
    
</div>