div.bigSetup {
    display: grid;
    grid-gap: 10px 10px;
    grid-column: span 2;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  1fr 5fr;
}

div.smallSetup {
    display: grid;
    align-self: center;
    grid-gap: 10px 10px;
    grid-column: span 2;
    grid-row: 1/2;
    grid-template-columns: 20% 50%;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr;
    border-bottom: solid 1.5px black;
}

h1.position{
    grid-column: 2/3;
    grid-row: 1/2;
}

label.type {
    text-align: right;
    align-self: center;
    grid-column: 1/2;
    grid-row: 2/3;
}

label.description {
    text-align: right;
    align-self: center;
    grid-column: 1/2;
    grid-row: 3/4;
}

label.picture {
    text-align: right;
    align-self: center;
    grid-column: 1/2;
    grid-row: 4/5;
}

label.hint {
    text-align: right;
    align-self: center;
    grid-column: 1/2;
    grid-row: 5/6;
}

input.description{
    grid-column: 2/3;
    grid-row: 3/4;
}

input.picture{
    grid-column: 2/3;
    grid-row: 4/5;
}

input.hint{
    grid-column: 2/3;
    grid-row: 5/6;
}

button.cancel{
    grid-column: 1/2;
    grid-row: 6/7;
    width: 50%;
    margin-bottom: 10px;
}

button.accept {
    grid-column: 2/3;
    grid-row: 6/7;
    width: 50%;
    margin-bottom: 10px;
}

button.icon {
    background-color: dimgray;
    border-radius: 10px;
}