<h1>Answers</h1>
<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Description</th>
                <th>Answer Type</th>
                <th>Picture</th>
                <th>Correct Answer</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let listItem of list">
                <td>{{listItem.answerId}}</td>
                <td>{{listItem.description}}</td>
                <td>{{listItem.answerType}}</td>
                <td>{{listItem.picture}}</td>
                <td>{{listItem.isCorrectAnswer}}</td>
            </tr>
        </tbody>
    </table>
</div>
