div.bigSetup {
    display: grid;
    grid-gap: 10px 10px;
    grid-column: span 2;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  1fr 5fr;
}

div.smallSetup {
    display: grid;
    align-self: center;
    grid-gap: 10px 10px;
    grid-column: span 2;
    grid-row: 1/2;
    grid-template-columns: 20% 50%;
    grid-template-rows: 2fr 1fr 1fr 1fr;
}

h1.position{
    grid-column: 2/3;
    grid-row: 1/2;
}

label.name {
    text-align: right;
    align-self: center;
    grid-column: 1/2;
    grid-row: 2/3;
}

label.date {
    text-align: right;
    align-self: center;
    grid-column: 1/2;
    grid-row: 3/4;
}

input.name{
    grid-column: 2/3;
    grid-row: 2/3;
}

input.date{
    grid-column: 2/3;
    grid-row: 3/4;
}

button.cancel{
    grid-column: 1/2;
    grid-row: 4/5;
    width: 50%;
}

button.accept {
    grid-column: 2/3;
    grid-row: 4/5;
    width: 50%;
}