div.bigSetup{
    display: grid;
    grid-gap: 10px 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
}

div.smallSetup {
    display: grid;
    grid-gap: 10px 10px;
    grid-template-columns: 40% 50%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

h1.position{
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 24px;
}

label.row1 {
    text-align: right;
    align-self: center;
    grid-column: 1/2;
    grid-row: 2/3;
}

label.row2 {
    text-align: right;
    align-self: center;
    grid-column: 1/2;
    grid-row: 3/4;
}

label.row3 {
    text-align: right;
    align-self: center;
    grid-column: 1/2;
    grid-row: 4/5;
}

label.row4 {
    text-align: right;
    align-self: center;
    grid-column: 1/2;
    grid-row: 5/6;
}

input.row1 {
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: center;
}

input.row2 {
    grid-column: 2/3;
    grid-row: 3/4;
    align-self: center;
}

input.row3 {
    grid-column: 2/3;
    grid-row: 4/5;
    align-self: center;
}

input.row4 {
    grid-column: 2/3;
    grid-row: 5/6;
    align-self: center;
}

button.cancel {
    grid-column: 2/3;
    grid-row: 5/6;
    width: 50%;
}

button.addToGame {
    grid-column: 2/3;
    grid-row: 5/6;
    width: 50%;
}

button.icon{
    background-color:dimgray;
    border-radius: 10px;
}